@import "tailwindcss";

:root {
    /*## Colors
### Primary*/
    --color-blue-500: hsl(215, 51%, 70%);
    --color-cyan-400: hsl(178, 100%, 50%);

    /*### Neutral*/

    --color-blue-950: hsl(217, 54%, 11%);
    --color-blue-900: hsl(216, 50%, 16%);
    --color-blue-800: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);

    --font-size-paragraph: 18px;
    --font-family: "Outfit", sans-serif;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-600: 600;
}

@theme {
    --color-blue-500: hsl(215, 51%, 70%);
    --color-cyan-400: hsl(178, 100%, 50%);
    --color-blue-950: hsl(217, 54%, 11%);
    --color-blue-900: hsl(216, 50%, 16%);
    --color-blue-800: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.page {
    display: grid;
    min-height: 100vh;
    place-items: center;
    padding: 2rem;
    background-color: var(--color-cream);
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-300);
}

body {
    background-color: var(--color-blue-950);
    color: var(--color-white);
}
